* {
	box-sizing: border-box;
	background-color: #ebdcc8;
}
#line {
	background-color: #6b411e;
	text-align: center;
	border-bottom: solid;
	border-bottom-color: #6b411e;
	position: absolute;
	width: 100%;
	padding: 15px;
	z-index: 2;
}
#header {
	background-color: #ebdcc8;
	border-style: solid;
	border-color: #6b411e;
	border-width: 3px;
	font-size: 15px;
	position: absolute;
	float: right;
	top: 30px;
	padding: 10px 10px 10px 10px;
	right: 20px;
	z-index: 2;
}
#logo {
	padding-top: 200px;
	text-align: center;
	z-index: 3;
	background: url("../images/bg.png");
	width: 100%;
}
#catchphrase {
	background-color: #ebdcc8;
	color: #b28b6b;
	text-align: center;	
	font-family: "Arial";
	background-color: #ebdcc8;
	text-decoration: underline dotted #6b411e 5px;
}
#catchphrase span {
	font-size: 15px;
}
#links {
	background-color: #ebdcc8;
	text-align: center;
}
.link2 {
	margin: 30px 25px 25px 25px;
}
.link4 {
	margin: 30px 25px 25px 25px;
}
.link6 {
	margin: 30px 25px 25px 25px;
}

